* {
    box-sizing: border-box;
}

body {
    background: #ecf0f1;
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}

a {
    text-decoration: none;
    color: #000;
    padding: 0px 30px;
    text-transform: uppercase;
}

.center {
    text-align: center;
}

.container {
    max-width: 1600px;
    width: 90%;
    margin: auto;
}


.flex-box {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.mobile {
    display: none;
}


nav.flex-box {
    height: 10vh;
    align-items: center;
    justify-content: space-between;
}

nav {
    text-align: center;
    height: 10vh;
    padding: top;
}

#logo {
    font-family: Mali;
    font-size: 40px;
    font-weight: 900;
    padding: 0 10px;
    font-variant: small-caps;
    text-transform: none;
}

header {
    background: url(https://brightcove04pmdo-a.akamaihd.net/5104226627001/5104226627001_5591931701001_5590712365001-vs.jpg?pubId=5104226627001&videoId=5590712365001);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 90vh;
    text-align: center;
    position: relative;
}




h1 {
    color: #fff;
    text-transform: uppercase;
    font-size: 40px;
    margin: 0;
    padding-top: 30vh;
    font-weight: 900;
    font-family: Mali;
}

div {
    color: black;
    font-size: 30px;
}

#promo a {
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 485px;
    background-position: center;
    padding: 0;
    width: 30%;
}

#promo a div {
    width: 90%;
    background: rgba(255, 255, 255, 0.8);
    padding: 12px;
    margin: 180px auto 0;
}

#promo a div p {
    border: 1px solid white;
    padding: 20px 0;
    margin: 0;
}

#promo > p {
    padding: 50px 0;
    text-align: left;
}

#rooms article {
    width: 48%;
    margin-bottom: 30px;
    background: #fff;
}

#rooms img {
    width: 50%;
    float: left;
    margin-right: 5%;
}

/*#rooms article .more{
	width: 45%;
	height: 100%;
	float: left;
	margin-right: 5%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
#rooms article .more i{
	position: absolute;
	font-size: 40px;
	color: white;
	display: none;
}
#rooms article .more:hover i{
display: inline;
}*/
#rooms article .price {
    font-weight: 700;
    font-size: 22px;
}

#rooms article button {
    background: red;
    border-radius: 40px;
    color: #fff;
    border: none;
    padding: 10px 25px;
    cursor: pointer;
    float: right;
    margin-right: 20px;
    margin-top: 1px;
}

#rooms article button:hover {
    background: #f44336;
}

#dark {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.8);
    display: none;
}

#cart {
    width: 60%;
    height: 100vh;
    position: fixed;
    left: 20%;
    top: 10%;
    color: white;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    overflow: auto;
}

#cart table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

#cart table td {
    border: 1px solid grey;
    padding: 5px;
}

#cart table img {
    width: 150px;
}

header #datas {
    background: #fff;
    height: 100px;
    align-items: center;
    width: 80%;
    padding: 0 30px;
    position: absolute;
    bottom: -50px;
    left: 10%;
}

header #datas *:focus {
    outline: 0;
}

header #datas * {
    background: none;
    border: none;
    border-bottom: #000 1px solid;
    padding: 30px;
    color: #000;
}

header #datas button {
    background: black;
    padding: 5px;
    border-radius: 20px;
    border: none;
    width: auto;
}

header #datas button i {
    color: white;
    border: none;
    width: auto;
}
/*#ft{
	background: url(mal.jpg);
	 background-repeat: no-repeat;
    background-size: 100%;
    height: 90vh;
    width: 100vw;
    text-align: center;
    position: relative;
}

#privacy div{
	background: black; 
    color: white;
    font-size: 12px;

}*/
.text h4{
text-align: center;
font-size: 40px;
}
.text p{
	padding: 10 0;
	font-size: 25px;

}

@media screen and (max-width: 500px) {
    .mobile {
        display: block;
    }

    .container {
        width: 100%;
        padding: 0 15px;
    }

    .mobile {
        display: block;
    }

    nav {
        height: auto;
        padding: 10px 0;
    }

    nav button.mobile {
        position: absolute;
        right: 15px;
        top: 15px;
        border: none;
        font-size: 30px;
        background: none;
    }

    nav a {
        display: none;
    }

    #logo {
        display: block;
        padding: 0;
    }

    nav.mobile-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        z-index: 10;
        justify-content: space-around;
        flex-direction: column;
        flex-wrap: nowrap;
        padding: 15% 0;
    }

    nav.mobile-menu * {
        color: black;
        display: block;
    }

    header {
        margin-bottom: 
        background-size: cover;
        height: 80vh;
        background-position: center;
    }
	header #datas{
		height: 300px;
		width: 70%;
		bottom: -150px;
		left: 15%;
		flex-direction: column;
	}
    #promo a,
    #rooms article {
        width: 90%;
        padding-bottom: 10px;
    }

    p {
        color: white;
        font-size: 25px;
        float: left;
    }

    #rooms article button,
    p {
        min-width: 0;
    }

}
